[Unit]
Description=JBoss EAP Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/jboss-eap-7.2/bin/standalone.sh
[Install]
WantedBy=multi-user.target
